@use "colors" as *;

.resources {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $white;
    color: $darkblue;
    width: calc(285px * 5);
    margin: 0 auto;

    h2 {
        margin: 0;
        padding: 3rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }

    li {
        padding-left: 3rem;
        padding-bottom: 2rem;
        list-style: none;
    }


}